#sideCatalog {
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    overflow: hidden;    
}
#sideCatalog a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}
#sideCatalog a:hover {
    color: #36c;
    text-decoration: underline;
}
#sideCatalog span.catalog-index1 {
    color: #999;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
}
#sideCatalog span.sideCatalog-index2 {
    color: #999;
    font-family: Arail;
    font-size: 14px;
    padding-right: 5px;
}
#sidebar {
    position: absolute;
    top: 0;
    left: 5px;
    width: 0;
    background-color: #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}
#sidebar .sidebar-top, 
#sidebar .sidebar-bottom {
    position: absolute;
    left: -5px;
    width: 10px;
    height: 10px;
    background: url("sideToolbar.png") no-repeat scroll 0 -199px transparent;
    overflow: hidden; 
    cursor: pointer;
}
#sidebar .sidebar-top {
    top: 0;
}
#sidebar .sidebar-bottom {
    bottom: 0;
}
#sidebar .sidebar-top:hover,
#sidebar .sidebar-bottom:hover {
    background-position: 0 -185px;
}
.catalog-item1, 
.catalog-item2 {
    margin: 0 0 6px;
    padding: 0 7px;
    position: relative;
}
.catalog-item1:hover, 
.catalog-item2:hover {
    background-color: #f5f5f5;
    border-radius: 2px;
    box-shadow: 0 1px 0 #eaeaea;
}
.catalog-item2 {
    padding-left: 21px;
}
#sideCatalog .catalog-item1 a, 
#sideCatalog .catalog-item2 a {
    text-decoration: none;
}
#sideCatalog .catalog-item1 a:hover, 
#sideCatalog .catalog-item2 a:hover {
    color: #36c;
}
#sideCatalog .catalog-item1 a {
    color: #555;
    font-weight: bold;
}
#sideCatalog .catalog-item2 a {
    color: #666;
}
.sideCatalog-dot {
    position: absolute;
    left: -20px;
    top: 4px;
    width: 6px;
    height: 10px;
    background: url("sideToolbar.png") repeat scroll 0 -222px transparent;    
    cursor: pointer;  
    overflow: hidden;
}
.sideCatalog-dot:hover {
    background-position: 0 -245px;
}
.catalog-item2 .sideCatalog-dot {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
#catalog {
    padding-left: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;    
    position: relative;
}
#catalog dl {
    position: relative;
}
.highlight span.sideCatalog-dot {
    width: 18px;
    height: 13px;
    background: url("sideToolbar.png") no-repeat scroll -271px -38px transparent;
    left: -23px;
    top: 3px;    
}
#catalog-updown { 
    position: absolute;
    right: 10px;
    bottom: 160px;   
    width: 22px;
    height: 50px;    
    z-index: 100;
    visibility: hidden;
}
#catalog-up,
#catalog-down { 
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.catalog-up-enable {
    background: url("sideToolbar.png") no-repeat scroll -245px -83px transparent;
}
.catalog-up-disable {
    background: url("sideToolbar.png") no-repeat scroll -272px -83px transparent;
}
.catalog-down-enable {
    background: url("sideToolbar.png") no-repeat scroll -245px -108px transparent;
}
.catalog-down-disable {
    background: url("sideToolbar.png") no-repeat scroll -272px -108px transparent;
}