#sideToolbar {
    position: fixed;
    padding: 10px;
    background: #fff;
}
#sideToolbar-btn {
	position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url("sideToolbar.png") no-repeat scroll 0 0 transparent;
    bottom: 58px;
    left: 10px;
}
#sideToolbar-btn.disable {
    background: url("sideToolbar.png") no-repeat scroll -104px 0 transparent;
}
#sideToolbar-btn.disable:hover {
    background: url("sideToolbar.png") no-repeat scroll -154px 0 transparent;
}
#sideToolbar-up {
	position: absolute;
	left: 10px;
	bottom: 10px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 2px;
    background: url("sideToolbar.png") no-repeat scroll -1px -62px transparent;    
}
#sideToolbar-up:hover {
    background: url("sideToolbar.png") no-repeat scroll -74px -62px transparent;
}