
#sideToolbar {
	position: fixed;
	right: 0;
	bottom: 0px;
	visibility: hidden;
}
#sideToolbar-up {
    background: url("sideToolbar.png") no-repeat scroll -1px -62px transparent;
    border-radius: 2px;
    display: block;
    height: 45px;
    margin-left: 10px;
    width: 45px;
}
#sideToolbar-up:hover {
    background: url("sideToolbar.png") no-repeat scroll -74px -62px transparent;
}
#sideCatalogBtn {
    background: url("sideToolbar.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
    width: 45px;
}
.sideCatalogBtnDisable {
    background: url("sideToolbar.png") no-repeat scroll -104px 0 transparent !important;
}
a.sideCatalogBtnDisable:hover {
    background: url("sideToolbar.png") no-repeat scroll -154px 0 transparent !important;
}
#sideCatalog {
    font-family: 宋体;
    font-size: 14px;
    height: 255px;
    left: 10px;
    line-height: 19px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 290px;
}
#sideCatalog a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}
#sideCatalog a:hover {
    color: #36c;
    text-decoration: underline;
}
#sideCatalog span.sideCatalog-index1 {
    color: #999;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
}
#sideCatalog span.sideCatalog-index2 {
    color: #999;
    font-family: Arail;
    font-size: 14px;
    padding-right: 5px;
}
#sideCatalog #sideCatalog-sidebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eaeaea;
    border-color: -moz-use-text-color #eaeaea;
    border-image: none;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-style: none solid;
    border-width: 0 1px;
    height: 253px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 0;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top, #sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    background: url("sideToolbar.png") no-repeat scroll 0 -199px transparent;
    height: 10px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    width: 10px;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
    cursor: pointer;
    top: 0;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top:hover {
    background-position: 0 -185px;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    cursor: pointer;
    bottom: 0;
}
.sideCatalog-item1, .sideCatalog-item2 {
    margin: 0 0 6px;
    padding: 0 7px;
    position: relative;
}
.sideCatalog-item1:hover, .sideCatalog-item2:hover {
    background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 2px;
    box-shadow: 0 1px 0 #eaeaea;
}
.sideCatalog-item2 {
    padding-left: 21px;
}
#sideCatalog .sideCatalog-item1 a, #sideCatalog .sideCatalog-item2 a {
    text-decoration: none;
}
#sideCatalog .sideCatalog-item1 a:hover, #sideCatalog .sideCatalog-item2 a:hover {
    color: #36c;
}
#sideCatalog .sideCatalog-item1 a {
    color: #555;
    font-weight: bold;
}
#sideCatalog .sideCatalog-item2 a {
    color: #666;
}
.sideCatalog-dot {
    background: url("sideToolbar.png") repeat scroll 0 -222px transparent;
    cursor: pointer;
    font-size: 12px;
    height: 10px;
    left: -20px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 6px;
}
.sideCatalog-dot:hover {
    background-position: 0 -245px;
}
.sideCatalog-item2 .sideCatalog-dot {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
#sideCatalog-catalog {
    height: 225px;
    margin-top: 18px;
    overflow: hidden;
    padding-left: 23px;
    position: relative;
}
#sideCatalog-catalog dl {
    position: relative;
}
#sideCatalog .highlight span.sideCatalog-dot {
    background: url("sideToolbar.png") no-repeat scroll -271px -38px transparent;
    height: 13px;
    left: -23px;
    top: 3px;
    width: 18px;
}
#sideCatalog .sideCatalog-item2 span.sideCatalog-dot {
}
#sideCatalog-updown {
    bottom: 160px;
    height: 50px;
    position: absolute;
    right: 60px;
    width: 22px;
    z-index: 100;
    visibility: hidden;
}
#sideCatalog-up {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
#sideCatalog-down {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.sideCatalog-up-enable {
    background: url("sideToolbar.png") no-repeat scroll -245px -83px transparent;
}
.sideCatalog-up-disable {
    background: url("sideToolbar.png") no-repeat scroll -272px -83px transparent;
}
.sideCatalog-down-enable {
    background: url("sideToolbar.png") no-repeat scroll -245px -108px transparent;
}
.sideCatalog-down-disable {
    background: url("sideToolbar.png") no-repeat scroll -272px -108px transparent;
}